<a href="#/">Go Back</a>
<div class="panel panel-default" ng-init="getbal()">
    <div class="panel-heading">
        <h3 class="panel-title">Your balance is R{{bal}}</h3>
      </div>
  <div class="panel-heading" ng-init="getProduct()">
    <h3 class="panel-title">{{product.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img style="height:auto;" src="http://localhost/laravelbackend/public/storage/images/{{product.image}}">
      </div>
      <div class="col-md-8">
        </p>{{product.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Price: R{{product.price}}</li>
          <div ng-if="product.discount != product.price">
          <li class="list-group-item">Discounted Price: R{{product.discount}}</li>
        </div>
          <li class="list-group-item">Product Listed on: {{product.created_at}}</li>
          
        
        </ul>
        <div ng-if="product.discount == product.price">
        <a href="#!/products/transaction/{{product.id}}/{{product.price}}/{{product.title}}/" class="btn btn-primary">Buy Now</a>
      </div>
      <div ng-if="product.discount != product.price">
          <a href="#!/products/transaction/{{product.id}}/{{product.discount}}/{{product.title}}/" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>