<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Funds to my account</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addMony()">
        <div class="form-group">
          <label>Name</label>
          <input type="number" class="form-control" ng-model="mony.amount" placeholder="Amount" required>
        </div>
        <button type="submit" class="btn btn-default">Top Up</button>
      </form>
      
    </div>
    </div>
  </div>
</div>